.body{
    margin: 0px;
}
.box{
    background-color: rgb(139, 214, 208);
    display:flex;
    justify-content: space-between;
    align-items: center;        
}
.photo{
    height: 90px;
    padding: 3px;
}
.search{
    padding: 5px;
    margin: 20px;
}
.button{
    padding: 5px;
    margin: 20px;
    width: 80px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    outline:none;
}
.menu{
    display: flex; 
}
.menu__item{
    display: flex;
    justify-content: space-around;
    padding: 17px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000;
}
.menu__item:hover{
    color: rgb(54, 33, 175);
}
.phone{
    margin-right: 40px;
    font-weight: bold;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}