.third-element{
    margin: 1.8em 2em 1.8em 0;
    animation: showRight 1s both;
    
    
    .right{
    background: url(http://designclub.by/img/BG_elem_right.png) no-repeat;
    width: 284px;
    height: 250px;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .right__i{
        position: absolute;
        top: 1.2em;
        right: 3.42em;
        font-size: 2em;
        transition: ease-out 1s;
        }
    
    .right__h3{
        margin: .8em -1.5em .8em 0;
        font-weight: 400;
        font-size: 1.25em;
        color: #383838;
        transition: ease-out 1s;
        }

    .right__p{        
        margin: 0;
        margin-right: -2em;
        width: 17em;
        font-size: .9em;
        text-align: center;
        transition: ease-out 1s;
        }
        a{
            color: #000;
        }
}
}