.logowrapper{
    position: relative; 
    height: 100px;    
    margin: 0px;
    background-color: rgb(116, 192, 243);     
}
.logo__size-images{
    position: absolute;
    height: 100px;  
}
.menu-wrapper{
    margin-top: 30px;  
    margin-left: 30px;  
    width: 600px;
}
.submenu{        
    margin-bottom: 3px; 
    position: relative;   
    color:rgb(40, 40, 161);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.submenu__text{
    margin:0px;
    border: 2px solid rgb(40, 40, 161);
    border-radius: 20px;
    padding: 10px;
    width: 220px;    
}
.submenu:hover .submenu__text{
    background-color: rgb(212, 228, 253);
}

.submenu:hover .submenu__item{   
    display: block;
}
.submenu__item{ 
    position: absolute;   
    display: none;    
    margin-top: 7px;
    top: 0px; 
    left: 250px;
    padding-left: 5px;
}

li{
    list-style-type: none;
    padding: 3px;
}


.form__title{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color:rgb(40, 40, 161);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.form-wrapper{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #000; 
}

.row{            
    padding: 7px 8px;           
    }    
.row:hover{    
    background: #f1f7fa;
    }
span{
    color: #ca5354;
    }
input:focus, textarea:focus /*псевдокласс*/
    {
    outline: 0.2px solid #666;
    }           

.label__note{
    height: 15px;  
    width: 200px;          
    display: inline-block; 
    font-size: 0.9em;             
    padding: 10px 20px;  
    color: #0f1d5c;
    vertical-align: top;
    }
.txt {
    display: inline-block;
    padding: 8px 9px;
    padding-right: 30px;
    width: 250px;   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;        
    font-size: 1em;      
    }
.block-centralalign{
        margin-left: auto; 
        margin-right: auto; 
        width: 400px;
        margin-bottom: 20px;  
         
    }
.button-wrapper{    
    width: 200px; 
    margin-left: 100px;   
    margin-top: 15px;
    margin-bottom: 20px;    
}
.button-wrapper-appearance{
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(145, 179, 202);        
    /* pointer-events: none; */
}
/* .checkbox-conditions :checked~.button-wrapper-appearance {
    color:rgb(21, 21, 114);    
    pointer-events: auto; */

}

.form__shipping{
    position: relative;
}

.form__shipping__map  {
    position: absolute;
    display: none;
}
.form__shipping :checked~.form__shipping__map {
    display: inline-block; 
}
.form__shipping__by-youself{

}
 
.form__shipping-address  {
    display: none;
    margin: 0px;
    padding: 0px;
}
.form__shipping__by-youself :checked~.form__shipping-address {
    display: inline-block;
  }
.contacts{
    background-color: rgb(116, 192, 243);    
    margin-top: 30px;
    margin-left: 0px;    
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 30px;
}
.skype-wrapper{
    height: 15px;
    width: 15px;
}
.contacts__text{
    line-height: 0.5em;
}
.size-site{    
    margin: 0px;
}