.sizeCol{
    height: 150px;    
}
.zvWrapper{
    height: 30px;
    weight: 30px

}
.imageWrapper{
    height: 100px;
    weight: 100px
}
.logoWrapper{
    margin: 0px;
    color: rgb(77, 0, 112);

}
.Wrapper{
    margin: 20px 10px 20px 50px;

}